.all{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
    min-height: 100vh;
    overflow-y: hidden;
    flex-direction: column;
    z-index: -100;
}
body{
    background-image: linear-gradient(65deg,rgba(27, 27, 27, 0.89),rgba(194, 0, 0, 0.856) ), url(./lexica.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
*{
    margin: 0;
    padding: 0;
}
img{
    width: 17rem;
    border-radius: 1rem;
    margin-bottom: 1%;
}
.webcoders-divsion{
    width:17rem ;
    height: 4rem;
    background-color: rgb(236, 236, 236);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: 100ms;
}
.webcoders-divsion:hover{
    background-color: rgba(27, 27, 27, 0.89);
}
.webcoders-divsion:hover .sib-btn{
    color: rgb(236, 236, 236);

}

@keyframes gr {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
        transform: scale(1.5);
        filter: blur(50px) saturate(300%);
    -webkit-filter:  blur(50px) saturate(300%);
	}
	100% {
		background-position: 0% 50%;
	}
}
.grad{
    width: 17rem;
    height: 4rem;
    animation: gr 5s infinite;
    background-position: center;
    background-size: 400% 400%;
    background-image: linear-gradient(75deg,rgb(251, 255, 0),rgb(0, 86, 184));
    position: absolute;
    filter: blur(50px) saturate(300%);
    -webkit-filter:  blur(50px) saturate(300%);
    z-index: -1;
    
}

.sib-btn{
    font-size: 190%;
    font-family: monospace;
    
}
@media only screen and (max-width: 441px){
    .webcoders-divsion{
        width: 90%;
    }
    img{
        width: 90%;
    }
    .grad{
        width: 90%;
    }
}